:root {
  --color-purple-500: #7551dc;
  --color-purple-100: #dbd1fc;
  --color-yellow-500: #ffcc6a;
  --color-yellow-100: #f9eee2;
  --color-white: #fff;
  --color-black: #121212;
}

.gold {
  color: var(--color-yellow-500);
}

:root {
  --color-purple-500: #7551dc;
  --color-purple-100: #dbd1fc;
  --color-yellow-500: #ffcc6a;
  --color-yellow-100: #f9eee2;
  --color-white: #fff;
  --color-black: #121212;
}

.gold {
  color: var(--color-yellow-500);
}

:root {
  --color-purple-500: #7551dc;
  --color-purple-100: #dbd1fc;
  --color-yellow-500: #ffcc6a;
  --color-yellow-100: #f9eee2;
  --color-white: #fff;
  --color-black: #121212;
}

.gold {
  color: var(--color-yellow-500);
}

:root {
  --color-purple-500: #7551dc;
  --color-purple-100: #dbd1fc;
  --color-yellow-500: #ffcc6a;
  --color-yellow-100: #f9eee2;
  --color-white: #fff;
  --color-black: #121212;
}

.gold {
  color: var(--color-yellow-500);
}

.card {
  border-radius: 10px;
  padding: 24px;
  color: var(--color-black);
  width: 100%;
}
.card-a {
  grid-area: a;
  padding: 40px 32px;
  background-color: var(--color-purple-500);
  color: var(--color-white);
  text-align: center;
}
.card-a h1 {
  font-size: 2.875rem;
  line-height: 0.9130434783;
  letter-spacing: -0.04em;
  font-weight: 500;
  padding: 0 15px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .card-a h1 {
    font-size: 3.375;
  }
}
.card-a img {
  max-width: 192px;
  margin: 0 auto 8px;
}
.card-a p {
  font-weight: 300;
}
.card-a .yellow-500 {
  color: var(--color-yellow-500);
}
.card-a .italic {
  font-style: italic;
}
.card-b {
  grid-area: b;
  background-color: var(--color-white);
  padding: 16px;
}
.card-b h3 {
  font-size: 1.625rem;
  line-height: 0.9230769231;
  letter-spacing: -0.06em;
  font-weight: 500;
}
@media (min-width: 768px) {
  .card-b h3 {
    font-size: 1.75rem;
    line-height: 0.9285714286;
  }
}
@media (min-width: 768px) {
  .card-b h3 {
    font-size: 2rem;
    line-height: 0.875;
  }
}
@media (min-width: 768px) {
  .card-b h3 {
    max-width: 208px;
    margin-top: 54px;
    margin-right: auto;
  }
}
.card-b img {
  margin-bottom: 16px;
}
.card-c {
  grid-area: c;
  background-color: var(--color-yellow-500);
}
.card-c h3 {
  font-size: 1.625rem;
  line-height: 0.9230769231;
  letter-spacing: -0.06em;
  font-weight: 500;
}
@media (min-width: 768px) {
  .card-c h3 {
    font-size: 1.75rem;
    line-height: 0.9285714286;
  }
}
@media (min-width: 768px) {
  .card-c h3 {
    font-size: 2rem;
    line-height: 0.875;
  }
}
.card-c img {
  position: relative;
  max-width: 208px;
  bottom: -24px;
}
.card-d {
  grid-area: d;
  background-color: var(--color-purple-100);
  text-align: center;
  padding: 32px 17px;
}
.card-d h3 {
  font-size: 1.625rem;
  line-height: 0.9230769231;
  letter-spacing: -0.06em;
  font-weight: 500;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .card-d h3 {
    font-size: 1.75rem;
    line-height: 0.9285714286;
  }
}
@media (min-width: 768px) {
  .card-d h3 {
    font-size: 2rem;
    line-height: 0.875;
  }
}
.card-d img {
  max-width: min(100%, 375px);
  margin: 0 auto 24px;
}
.card-d p {
  max-width: 359px;
  margin: auto;
}
@media (min-width: 1024px) {
  .card-d {
    text-align: left;
    padding: 50px 32px;
  }
}
@media (max-width: 768px) {
  .card-d p {
    padding: 0 15px;
  }
}
.card-e {
  grid-area: e;
  background-color: var(--color-purple-500);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .card-e {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  .card-e h2 {
    padding-right: 20px;
  }
}
.card-e h2 {
  font-size: 2rem;
  line-height: 0.875;
  letter-spacing: -0.06em;
  font-weight: 500;
  max-width: 257px;
}
@media (min-width: 768px) {
  .card-e h2 {
    font-size: 2.5rem;
    line-height: 0.9;
    letter-spacing: -2px;
  }
}
.card-f {
  grid-area: f;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 600px) {
  .card-f {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 900px) {
  .card-f {
    flex-direction: column;
  }
}
.card-f .big {
  font-size: 2.875rem;
  line-height: 0.9130434783;
  letter-spacing: -0.04em;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card-f .big {
    font-size: 3.375;
  }
}
.card-g {
  grid-area: g;
  background-color: var(--color-yellow-100);
  padding: 32px;
}
@media (min-width: 600px) {
  .card-g {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.card-g h3 {
  font-size: 2rem;
  line-height: 0.875;
  letter-spacing: -0.06em;
  font-weight: 500;
  margin-bottom: 24px;
  max-width: 280px;
}
@media (min-width: 768px) {
  .card-g h3 {
    font-size: 2.5rem;
    line-height: 0.9;
    letter-spacing: -2px;
  }
}
.card-g h3 .em {
  color: var(--color-purple-500);
  font-style: italic;
}
.card-h {
  grid-area: h;
  background-color: var(--color-yellow-500);
}
.card-h h3 {
  font-size: 2rem;
  line-height: 0.875;
  letter-spacing: -0.06em;
  font-weight: 500;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .card-h h3 {
    font-size: 2.5rem;
    line-height: 0.9;
    letter-spacing: -2px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  letter-spacing: -0.04em;
  font-weight: 400;
  background-color: #f6f5f6;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  margin: 0;
}

.grid {
  padding: 32px 16px 40px;
  display: grid;
  gap: 32px;
  max-width: min(100%, 1120px);
  margin: auto;
  grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h";
}
@media (min-width: 600px) {
  .grid {
    padding: 52px 40px 76px;
    grid-template-areas: "a a" "b c" "d d" "e e" "f f" "g h";
  }
}
@media (min-width: 900px) {
  .grid {
    grid-template-areas: "g a a d" "g b c d" "h b c d" "h f e e";
  }
}
@media (min-width: 1024px) {
  .grid {
    padding-top: 83px;
    padding-bottom: 65px;
  }
}

/*# sourceMappingURL=index.css.map */
