:root {
  --color-purple-500: #7551dc;
  --color-purple-100: #dbd1fc;
  --color-yellow-500: #ffcc6a;
  --color-yellow-100: #f9eee2;
  --color-white: #fff;
  --color-black: #121212;
}

$breakpoint-small: 650px;
$breakpoint-small-medium: 768px;
$breakpoint-medium: 900px;
$breakpoint-large: 1024px;